<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style type="text/css">
body{
    margin: 0;
    background-color: rgb(95, 95, 95);
}
table{
   border-spacing: 0;
}
td{
    padding:0;
}
img{
    border:0;
}

.wraper{
    width: 100%;
    table-layout: fixed;
    background-color: rgb(102, 102, 102);
    padding-bottom: 40px;
    height: 1300px;
}
.main{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: sans-serif;
    color:rgb(0, 0, 0)
}
@media screen and (max-width: 600px) {
    
}
</style>
<body>
    <center class="wraper">

<table width="400" class="main">

    
<tr >
    <td >
        <table width="100%" >
            <tr>
                <td>
                    <img src="https://res.cloudinary.com/platformtour/image/upload/v1613054749/fibrmqmmlipe4aruykkq.png" width="50" alt="go"  style="min-width:100%;">
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--HEADER-->
<tr>
    <td >
        <table width="100%" cellspacing="0" cellpadding="0" align="center" style="display:inline-block; justify-content: center;align-items: center;text-align: center;">
            <tr><td style="display:inline-block;text-align:center justify-content: center;align-items: center;">
                <h1 align="center" style="color: rgb(0, 110, 255);" >CLOUDFOUND</h1>
            </td></tr>

            

             <table role="presentation" cellspacing="0" cellpadding="0" align="center">
                    <tbody><tr style="padding:0;margin:0;font-size:0;line-height:0"><td style="border-top:3px solid #d41b1b;border-top-left-radius:4px;border-top-right-radius:4px;display:inline-block;text-align:center"></td></tr>
                        <tr>
                             <td class="m_2225492220756261327subheadline m_2225492220756261327btn_mod2_mobile2 m_2225492220756261327enwid" style="background-color:#1a73e800;border:1px solid #1a73e800;border-radius:4px;color:#494949;display:inline-block;font-family:Google Sans,Roboto,Arial;font-size:11px;line-height:25px;text-decoration:none;min-width:205px;padding:8px 0px 7px 0px;text-align:center;word-break:normal;direction:ltr">
               Cloudfound give you
                    Windows as a developer machine
                    Windows is a popular operating system and it can be a great cross-platform development environment. This section describes cross-platform features such as the Windows Subsystem for Linux (WSL) and the new Windows Terminal.
                    
                    Recent Windows build
                    Make sure you are on a recent Windows 10 build. Check Settings  Windows Update to see if you are up-to-date.
                    
                    Windows Subsystem for Linux
                    With WSL, you can install and run Linux distributions on Windows. This enables you to develop and test your source code on Linux while still working locally on your Windows machine.
                    
                    When coupled with the Remote - WSL extension, you get full VS Code editing and debugging support while running in the context of WSL.
                    
                    See the Developing in WSL documentation to
                </td>
                </tr>
                    <tr style="padding:0;margin:0;font-size:0;line-height:0"><td style="border-top:4px solid #ffffff;display:inline-block;border-bottom-left-radius:4px;border-bottom-right-radius:4px;text-align:center"></td></tr>
                </tbody></table>


            <a href="https://cloudfoundapi.herokuapp.com" dir="ltr" style="text-align:center;display:inline-block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.google.com/appserve/mkt/p/AD-FnExlgHAM3SOKAWDTgwS9Il2YYG9k4daATcA9pZaN67W_wIcXFZSwSSJKuRq58XgYFnvuOnpXYgiPd2zIbV2OPx_g9fBPahwXKRqCmfA1MKqoeCH71D3UHykpmj2j4EBb35-NsW-Jh5jyu23GTp1HP0TfD7xBa6lMxox3ePzd6TyVUJz0Sk5XGUTwc7fNXVG3vl_bIX2jRt1Mhus6eQbM_w&amp;source=gmail&amp;ust=1610847483530000&amp;usg=AFQjCNF7OsJv4KDxcA9qKcx0JyP36H4d0g">
                <table role="presentation" cellspacing="0" cellpadding="0" align="center">
                    <tbody><tr style="padding:0;margin:0;font-size:0;line-height:0"><td style="border-top:3px solid #d41b1b;border-top-left-radius:4px;border-top-right-radius:4px;display:inline-block;text-align:center"></td></tr>
                        <tr>
                             <td class="m_2225492220756261327subheadline m_2225492220756261327btn_mod2_mobile2 m_2225492220756261327enwid" style="background-color:#1a73e8;border:1px solid #1a73e8;border-radius:4px;color:#ffffff;display:inline-block;font-family:Google Sans,Roboto,Arial;font-size:16px;line-height:25px;text-decoration:none;min-width:205px;padding:8px 0px 7px 0px;font-weight:500;text-align:center;word-break:normal;direction:ltr">
                Confirm
                </td>
                </tr>
                    <tr style="padding:0;margin:0;font-size:0;line-height:0"><td style="border-top:4px solid #ffffff;display:inline-block;border-bottom-left-radius:4px;border-bottom-right-radius:4px;text-align:center"></td></tr>
                </tbody></table></a>



                
            

               <tr><td style="height: 6px;margin-top:13px ; background:linear-gradient(70deg,rgb(0, 132, 209),rgb(150, 0, 209),rgb(209, 0, 63));display: flex;justify-content: center;align-items: center;"></td></tr>
               <tr><td style="background-color: rgba(34, 139, 34, 0);display: flex;justify-content: center;align-items: center; height: 50px;">
            <h1 style="font-size: 11px;font-family: sans-serif;">We bring you close to your wishis also let presents come to you and things you <strong style="color: rgb(255, 0, 0);">LOVE</strong></i></h1>
            </td></tr>

            <tr><td style="background-color:rgba(255, 0, 255, 0);height:max-content;">
<table width="100%"><tr><td style="background-color: rgba(0, 128, 0, 0);height: max-content;display: flex;flex-wrap: wrap; justify-content:space-around ;align-items: center;">


    <img src="https://i.ibb.co/kcbgT27/press.gif" width="250" style="max-width:260px;height: 200px;" alt="">
    

    <!--"https://i.ibb.co/j40vYkN/press.gif"-->

<table  width="200px" height="100px">
<tr><td style="background-color: rgba(172, 255, 47, 0);">
    <h1 style="font-size: 16px;" >lucky day</h1>
    <p style="font-size: 11px;"> Windows Subsystem for Linux
        With WSL, you can install and run Linux distributions on Windows. This enables you to develop and test your source code on Linux while still working locally on your Windows machine.
        
        When coupled with the Remote - WSL extension, you get full VS Code editing</p>
</td></tr>
</table>


<tr><td style="height: 80px;background-color: rgba(255, 105, 180, 0);"></td></tr>

 
<table with="90%" cellspacing="0" cellpadding="0" align="center" style="display:inline-block; justify-content: center;align-items: center;text-align: center;" >
<tr><td style="height:190px;display:inline-block; justify-content: center;align-items: center;text-align: center;;flex-direction: column; justify-content: center;align-items: center; background-color: rgba(255, 105, 180, 0);">

<table width="200px"  >
    <tr><td style="height: 170px;display:inline-block;justify-content: center;align-items: center;
    background:linear-gradient(70deg,rgb(0, 132, 209),rgb(150, 0, 209),rgb(209, 0, 63)) ;border-radius: 50%;">

 <table role="presentation" cellspacing="0" cellpadding="0" align="center"  >
                    <tbody><tr style="padding:0;margin:0;font-size:0;line-height:0"><td style="border-top:3px solid #d41b1b;border-top-left-radius:4px;border-top-right-radius:4px;display:inline-block;text-align:center"></td></tr>
                        <tr>
                             <td class="m_2225492220756261327subheadline m_2225492220756261327btn_mod2_mobile2 m_2225492220756261327enwid" style="font-size:150px;font-weight: bold;color: rgba(230, 230, 250, 0.164);background-color:#1a73e800;display:inline-block;line-height:160px;text-decoration:none;min-width:155px;text-align:center;direction:ltr">
                2
                </td>
                </tr>
                     <tr style="padding:0;margin:0;font-size:0;line-height:0"><td style="border-top:4px solid #ffffff;display:inline-block;border-bottom-left-radius:4px;border-bottom-right-radius:4px;text-align:center"></td></tr>
               
                </tbody></table>

    </td></tr>
</table>

<table width="150px">
    <tr><td style="height: 5px;display: flex;justify-content: center;align-items: center;box-shadow: 2px 10px 16px 1px rgb(2, 2, 2);
    background-color: rgba(0, 0, 0, 0);
   border-radius: 50%;">

</td></tr>
</table>

</td></tr>
</table>
<tr><td style="height: 80px;background-color: rgba(255, 105, 180, 0);"></td></tr>
<tr><td style="height: 80px;background-color: rgba(216, 16, 116, 0);
display: flex;flex-direction: column;
justify-content: center;align-items: center;">
<table width="100%">
    <a style="color: rgb(90, 90, 90);text-decoration: none;font-weight: bold;" href="mailto:nophora.nn@gmail.com">nophora.nn@gmail.com</a>
    <a style="color: rgb(90, 90, 90);text-decoration: none;font-weight: bold;" href="mailto:nophora.nn@hotmail.com">nophora.nn@hotmail.com</a>
    <a style="color: rgb(90, 90, 90);text-decoration: none;font-weight: bold;" href="tel:0661102167">066-110-2167</a>
</table>
</td></tr>
</td></tr></table>
            </td></tr>
</table>

</td>
</tr>

</table>

    </center>   
</body>
</html>
